{% extends 'modals/baseModal.html' %}

<!-- Modal ID -->
{% block modal-id %}id="deleteModal{{ customer.pk }}"{% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %}
<i class="fas fa-door-trash-alt"></i>&nbsp;&nbsp; Delete Message
{% endblock modal-title %} 

<!-- Modal Body -->
{% block modal-body %}
<div class="text-center text-danger txt-sm"><i class="fas fa fa-times-circle fa-5x mb-4 mt-2"></i></div>
<div class="text-center text-danger txt-sm">
	<span id="delete-confirm">Do you really want to delete this Message ?</span>
	<div class="text-dark mt-3 mb-2 text-small">Customer: <strong>{{ customer.name }}</strong></div>
</div>
{% endblock modal-body %}

<!-- Modal Footer -->
{% block modal-footer %}
<a class="btn btn-outline-danger btn-sm btn-modal txt-sm" href="/delete_message/{{ customer.id }}">Delete</a>
{% endblock modal-footer %}